#header{
width: 100%;
background-color: white;
top: -100px;
transition: top 0.3s;
position: fixed;
z-index:1001;
}

#header a:hover {
    background-color: #ddd;
    color: white;
  }

#eye{
    margin-top: 10px;
    float: left;
}

#headertext{
    float: left;
    margin-top: 25px;
}

#headertext1{
   font-weight: bolder;
   font-family: 'Courier New', Courier, monospace;
   font-size: 22px;
}

#headertext2{
    font-size: 11px;
}

#butthead1{
    width:150px ;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid;
    color: black;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

#butthead2{
    width:150px ;
    height: 40px;
    background-color: black;
    border-radius: 22px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
}

#buttheadr1{
   margin-top: 25px;
   margin-left: 900px;
    cursor: pointer;
}

#buttheadr2{
    margin-left: 20px;
    margin-top: 25px;
     cursor: pointer;
 }

.video{
    background-color: black;
    width: 100%;
    height: 800px;
}

#myVideo{
  width: 100%;
    height: 800px;
  }

  .content{
    background-color: white;
    height: 400px;
    width: 100%;
  }

  #content1{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #content2{
    color: gray;
  }

  #contenttext{
    margin-top: 200px;
    margin-left: 40px;
    float: left;
  }

  #contenttext2{
  float: left;
  margin-top: 200px;
  margin-left: 600px;
  font-size: 20px;
  color: rgb(59, 58, 58);
  }

  .content2{
    background-color: white;
    height: 400px;
    width: 100%;
  }

#contenttext3{
    margin-left: 40px;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#poster1{
    height: 400px;
    width: 300px;
    float: left;
    margin-left: 40px;
}

#poster2{
    height: 400px;
    width: 300px;
    float: left;
    margin-left: 40px;
}

#poster3{
    height: 400px;
    width: 300px;
    float: left;
    margin-left: 40px;
}

#poster4{
    height: 400px;
    width: 300px;
    float: left;
    margin-left: 40px;
}

.content2 figure #poster1{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
  
figure:hover #poster1{
    -webkit-transform: scale(1);
	transform: scale(1);
} 

figure #poster2{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
  
figure:hover #poster2{
    -webkit-transform: scale(1);
	transform: scale(1);
} 

figure #poster3{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
  
figure:hover #poster3{
    -webkit-transform: scale(1);
	transform: scale(1);
} 

figure #poster4{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
  
figure:hover #poster4{
    -webkit-transform: scale(1);
	transform: scale(1);
} 



